---
---
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} - Bookmarklets et pages de test des bookmarklets pour le RGAA 4.1.2</title>
    <meta property="og:title"
        content="{{ site.title }} - Bookmarklets et pages de test des bookmarklets pour le RGAA 4.1.2">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:type" content="website">
    <meta property="og:url"
        content="https://florentroques.github.io/a11y-scripts/">
</head>

<body>
    <h1>Bookmarklets et pages de test des bookmarklets pour le RGAA 4.1.2</h1>
    
    <h2>Bookmarklets</h2>
    <ul>
        {% for file in site.static_files %}
            {% if file.extname == ".js" and file.basename contains "-bookmarklet" %}
                <li>
                    <a href="{{ file.path | absolute_url }}">{{ file.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    {% assign has_test_pages = 0 %}
    {% for folder in site.data.folders.folders %}
        {% assign found = false %}

        {% for file in site.static_files %}
            {% if file.path contains folder.name and file.extname == ".html" %}
                {% assign found = true %}
                {% if has_test_pages == 0 %}
                    {% assign has_test_pages = 1 %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if found and has_test_pages == 1 %}
            <h2>Pages de test</h2>
            {% assign has_test_pages = 2 %}
        {% endif %}

        {% if found %}
            <ul>
                {% for folder in site.data.folders.folders %}
                    <li>
                        <strong>{{ folder.title }}</strong>
                        <ul>
                            {% for file in site.static_files %}
                                {% if file.path contains folder.name and file.extname == ".html" %}
                                    <li>
                                        <a href="{{ file.path | absolute_url }}">{{ file.name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
</body>

</html>
