---
title: "Bookmarklets pour les professionnels en accessibilité numérique"
description: "Gagnez du temps avec des bookmarklets"
layout: bookmarklets
---

<section>
    <h2>Bookmarklets</h2>
    <ul>
        {% for file in site.static_files %}
        {%
        if file.path contains "professionnels-en-accessibilite-numerique"
        and file.extname == ".js"
        and file.basename contains "-bookmarklet"
        %}
                {% capture current_file_content %}
                    {% include_relative bookmarklets/professionnels-en-accessibilite-numerique/{{ file.basename }}.js %}
                {% endcapture %}
                <li>
                    <a href="{{ current_file_content }}">{{ file.name | remove: ".js" | remove: "-bookmarklet" | replace: "-", " " }}</a>
                </li>
        {% endif %}
        {% endfor %}
    </ul>
</section>

{% assign has_test_pages = 0 %}
{% for folder in site.data.folders.folders %}
{% assign found = false %}

{% for file in site.static_files %}
{% if file.path contains folder.name and file.extname == ".html" %}
{% assign found = true %}
{% if has_test_pages == 0 %}
{% assign has_test_pages = 1 %}
{% endif %}
{% endif %}
{% endfor %}

{% if found and has_test_pages == 1 %}
<section>
    <h2>Pages de test</h2>
    {% assign has_test_pages = 2 %}
    <ul>
        {% endif %}

        {% if found %}
        <li>
            <strong>{{ folder.title }}</strong>
            <ul>
                {% for file in site.static_files %}
                {%
                if file.path contains "RGAA-4.1.2"
                and file.path contains folder.name
                and file.extname == ".html"
                %}
                <li>
                    <a href="{{ file.path | absolute_url }}">{{ file.name }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% endfor %}

        {% if found and has_test_pages == 2 %}
    </ul>
</section>
{% endif %}