---
title: "Bookmarklets pour les équipes de rédaction de contenu"
description: "Assurez-vous que votre contenu est accessible"
layout: bookmarklets
---

<section>
    <ul>
        {% for bookmarklet in site.data.bookmarklets_metadata.equipes-de-redaction-de-contenu %}
            {% capture current_file_content %}
                {% include_relative _includes/bookmarklets/equipes-de-redaction-de-contenu/{{ bookmarklet.name }}-bookmarklet.js %}
            {% endcapture %}
            <li>
                <div class="bookmarklet-container">
                    <a href="{{ current_file_content | strip }}" class="bookmarklet-link">
                        {{ bookmarklet.name | replace: "-", " " | replace: "br", "&lt;br&gt;" | capitalize }}
                    </a>
                    <span class="tooltip">Cliquez-déposez le bookmarklet dans la barre des favoris</span>
                    <button class="copy-button" onclick="copyBookmarklet(this)">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                            <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                        </svg>
                        <span class="tooltip">Copier le bookmarklet</span>
                    </button>
                </div>
                <div class="last-updated">dernière mise à jour : {{ bookmarklet.date | date: "%d %B %Y" | replace: "January", "janvier" | replace: "February", "février" | replace: "March", "mars" | replace: "April", "avril" | replace: "May", "mai" | replace: "June", "juin" | replace: "July", "juillet" | replace: "August", "août" | replace: "September", "septembre" | replace: "October", "octobre" | replace: "November", "novembre" | replace: "December", "décembre" }}</div>
            </li>
        {% endfor %}
    </ul>
</section>