---
title: "Bookmarklets pour les contributeurs de contenu"
description: "Assurez-vous que votre contenu est accessible"
---
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:type" content="website">
    <meta property="og:url"
        content="https://numerik-ea.github.io/bookmarklets-pour-le-rgaa-4.1.2/pour-les-contributeurs-de-contenu.html">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <h1>{{ page.title }}</h1>
        <a href="https://numerik-ea.github.io/bookmarklets-pour-le-rgaa-4.1.2/"
            class="back-link">
            <span aria-hidden="true">← </span>Retour à la page d'accueil
        </a>
    </header>

    <main>
        <section>
            <h2>Bookmarklets</h2>
            <ul>
                {% for file in site.static_files %}
                    {% 
                        if file.path contains "contributeurs-de-contenu"
                        and file.basename contains "-bookmarklet"
                        and file.extname == ".js"
                    %}
                        {% capture current_file_content %}
                            {% include_relative bookmarklets/contributeurs-de-contenu/{{ file.basename }}.js %}
                        {% endcapture %}
                        <li>
                            <a href="{{ current_file_content }}">{{ file.name | remove: ".js" | remove: "-bookmarklet" | replace: "-", " " }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>
    </main>
</body>

</html>