---
title: "Bookmarklets pour les contributeurs de contenu"
description: "Assurez-vous que votre contenu est accessible"
---
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:type" content="website">
    <meta property="og:url"
        content="https://numerik-ea.github.io/bookmarklets-pour-le-rgaa-4.1.2/pour-les-contributeurs-de-contenu.html">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header role="banner">
        <a href="https://numerik-ea.github.io/bookmarklets-pour-le-rgaa-4.1.2/"
            class="back-link">
            <span aria-hidden="true">← </span>Retour à la page d'accueil
        </a>
        <h1>{{ page.title }}</h1>
    </header>

    <main role="main">
        <section>
            <p>Pour ajouter les bookmarklets dans votre barre des favoris, suivez les étapes ci-dessous :</p>
            <ol>
                <li>Cliquez sur les liens des bookmarklets que vous souhaitez ajouter.</li>
                <li>Maintenez le clic gauche de la souris enfoncé sur le lien.</li>
                <li>Faites glisser le lien vers la barre des favoris de votre navigateur.</li>
                <li>Relâchez le bouton de la souris pour y déposer le bookmarklet.</li>
                <li>Voilà ! Vous pouvez maintenant utiliser les bookmarklets pour vérifier que votre contenu est accessible.</li>
            </ol>
            <ul>
                {% for file in site.static_files %}
                    {% 
                        if file.path contains "contributeurs-de-contenu"
                        and file.basename contains "-bookmarklet"
                        and file.extname == ".js"
                    %}
                        {% capture current_file_content %}
                            {% include_relative bookmarklets/contributeurs-de-contenu/{{ file.basename }}.js %}
                        {% endcapture %}
                        <li>
                            <a href="{{ current_file_content }}">{{ file.name | remove: ".js" | remove: "-bookmarklet" | replace: "-", " " }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>
    </main>
</body>

</html>