---
title: "Bookmarklets pour les contributeurs de contenu"
description: "Assurez-vous que votre contenu est accessible"
layout: bookmarklets
---

<section>
    <ul>
        {% for file in site.static_files %}
            {% 
                if file.path contains "contributeurs-de-contenu"
                and file.basename contains "-bookmarklet"
                and file.extname == ".js"
            %}
                {% capture current_file_content %}
                    {% include_relative bookmarklets/contributeurs-de-contenu/{{ file.basename }}.js %}
                {% endcapture %}
                <li>
                    <a href="{{ current_file_content }}">{{ file.name | remove: ".js" | remove: "-bookmarklet" | replace: "-", " " | capitalize }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</section>