<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:type" content="website">
    <meta property="og:url"
        content="{{ site.url }}{{ site.baseurl }}{{ page.name }}">
    <link rel="stylesheet" href="styles.css">
</head>