<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <p id="double-br-nested">
                Test
                <br>



                <br>
                Double br
            </p>
        </div>
        <p id="double-br">
            Test
            <br>
            <br>
            Double br
        </p>
    </div>
    <div id="double-br-div">
        Test
        <br>
        <br>
        End
    </div>
    <p id="double-br-slash">
        Test
        <br/>
        <br/>
        Double br
    </p>
    <p id="double-br-space-slash">
        Test
        <br />
        <br />
        Double br
    </p>
    <p id="double-br-space-br-space-slash">
        Test
        <br >
        <br />
        Double br
    </p>
    <p id="simple-br">
        Test
        <br>
        Simple
        <br>
        Merci
    </p>
</body>
</html>