{% include header.html %}

<body class="page-{{ page.layout }}">
    <header role="banner">
        <div class="container">
            <a href="{{ site.baseurl }}" class="back-link">
                <span aria-hidden="true">← </span>Retour à la page d'accueil
            </a>
            <h1>{{ page.title }}</h1>
        </div>
    </header>

    <main role="main" class="container">
        <section class="installation-steps-section">
            <button class="toggle-button" aria-expanded="false"
                aria-controls="installation-steps">
                Étapes pour installer un bookmarklet
                <span class="arrow" aria-hidden="true">▼</span>
            </button>
            <ol id="installation-steps" class="installation-steps">
                <li>Cliquez sur le lien du bookmarklet que vous souhaitez
                    ajouter.</li>
                <li>Maintenez le clic gauche de la souris enfoncé sur le lien.
                </li>
                <li>Faites glisser le lien vers la barre des favoris de votre
                    navigateur.</li>
                <li>Relâchez le bouton de la souris pour y déposer le
                    bookmarklet.</li>
                <li>Voilà ! Vous pouvez maintenant utiliser le bookmarklet pour
                    vérifier que votre contenu est accessible.</li>
            </ol>
        </section>
        {{ content }}
    </main>
    {% include footer.html %}
    <script src="{{ site.baseurl }}assets/js/copy-bookmarklet.js"></script>
    <script src="{{ site.baseurl }}assets/js/anchor-navigation.js"></script>
    <script src="{{ site.baseurl }}assets/js/sort-bookmarklets.js"></script>
    <script>
        document.querySelector('.toggle-button').addEventListener('click', function () {
            const steps = document.getElementById('installation-steps');
            const isExpanded = this.getAttribute('aria-expanded') === 'true';

            steps.classList.toggle('visible');
            this.setAttribute('aria-expanded', !isExpanded);
        });

        // Add event listeners for bookmarklet links
        // document.querySelectorAll('a[href^="javascript:"]').forEach(link => {
        //     // Si le lien contient le caractère spécial %C2%A0 (espace insécable = &nbsp;),
        //     // on ne peut pas le glisser dans la barre des favoris
        //     // car sinon le bookmarklet ne fonctionnera pas correctement
        //     // https://developer.mozilla.org/en-US/docs/Web/API/DataTransfer/setData
        //     if (!link.href.includes('%C2%A0')) {
        //         return;
        //     }

        //     function getMessage(contentType = '') {
        //         return ('Ce bookmarklet ne peut pas être glissé directement dans la barre des favoris.'
        //             + `${contentType === 'HTML' ? '<br>' : ' '}`
        //             + 'Veuillez copier le code du bookmarklet et le coller dans un nouveau favori.'
        //         );
        //     }

        //     // Find the tooltip and update its content
        //     const container = link.closest('.bookmarklet-container');

        //     if (container) {
        //         const tooltip = container.querySelector('.bookmarklet-link + .tooltip');

        //         if (tooltip) {
        //             tooltip.innerHTML = getMessage('HTML');
        //         }
        //     }

        //     // Handle drag event
        //     link.addEventListener('dragstart', function (e) {
        //         alert(getMessage());
        //     });
        // });
    </script>
</body>

</html>